.button{
    background-color: blue;
    color: black;
}
.abc{
    background-color: black;
    color: red;
    height: 55px;
    width: 90px;
}
.reds{
    background-color: red;
}
.blues{
    background-color: blue;
}
.yellows{
    background-color: yellow;
}
.oranges{
    background-color: orange;
}